<div id='map'></div>

<%= content_tag "div", id: "map-data", data: { geojson: @mapdata, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">

  <table class="table" id="instagram-table">
   
  </table>
</div>
