---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/search.json?client_id=2a742f6feb144d6eab104c556c18c698&count=100&distance=2400&lat=39.7392&lng=-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4934'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["sunbeams","rockies","clouds"],"location":{"latitude":39.756938333,"longitude":-104.993621667},"comments":{"count":0,"data":[]},"filter":"Hefe","created_time":"1433956354","link":"https:\/\/instagram.com\/p\/3wa7nFIWpz\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e15\/11421955_646650488767733_819341774_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11421955_646650488767733_819341774_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/11421955_646650488767733_819341774_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1433956354","text":"#rockies
        #sunbeams #clouds","from":{"username":"burnsbrownii","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_19262137_75sq_1335751221.jpg","id":"19262137","full_name":"Burns
        Brown"},"id":"1004421163648116833"},"type":"image","id":"1004421162524043891_19262137","user":{"username":"burnsbrownii","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_19262137_75sq_1335751221.jpg","id":"19262137","full_name":"Burns
        Brown"}},{"attribution":null,"tags":["denver"],"location":{"latitude":39.748061667,"longitude":-104.995475},"comments":{"count":0,"data":[]},"filter":"Reyes","created_time":"1433956322","link":"https:\/\/instagram.com\/p\/3wa3o1Gikc\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstag[...]
