---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/search.json?client_id=d9382d1b8de844dbb57295861f357f5d&count=100&distance=2400&lat=39.7392&lng=-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"location":{"latitude":39.740846667,"longitude":-104.998841667},"comments":{"count":0,"data":[]},"filter":"Ludwig","created_time":"1433997051","link":"https:\/\/instagram.com\/p\/3xojcGwbX6\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e15\/11351933_845135928857332_128489760_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11351933_845135928857332_128489760_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11351933_845135928857332_128489760_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1433997051","text":"Wicked!","from":{"username":"jilljacksonclark","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_218119204_75sq_1377792746.jpg","id":"218119204","full_name":"Jill"},"id":"1004762550207886718"},"type":"image","id":"1004762549100590586_218119204","user":{"username":"jilljacksonclark","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_218119204_75sq_1377792746.jpg","id":"218119204","full_name":"Jill"}},{"attribution":null,"tags":[],"location":{"latitude":39.726402232,"name":"O.G.
        Headquarters ","longitude":-104.979958215,"id":846153718},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1433997034","link":"https:\/\/instagram.com\/p\/3xohatmoKb\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e15\/11267972_117354941931151_1238023227_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s1[...]
