<!--   </div>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
          </div>

                                                                                            
        </div>

      </div>

    </div>
 -->

<div class='map img-responsive'> 
<%= image_tag("Map_background.jpg", class: "img-responsive",  alt: "Map") %>

</div>