@import "bootstrap-sprockets";
@import "bootstrap";



// GLOBAL ////////////////////////////////////////////////////////////////////
html,
body {
  height: 100%;
  // background-color: #333;
}
body {
  text-align: center;
}



// COLORS ///////////////////////////////////////////////////////////////////
$primary-color:   rgba(93,42,125,1.0);    // dark-purple
$primary-color-transparent:   rgba(93,42,125,0.5);    // dark-purple-transparent
$secondary-color: rgba(255,255,255,1.0);  // white

$white: rgba(255,255,255,1);
$white-trans: rgba(255,255,255,0.5);

$black: rgba(0,0,0,1);
$dark-gray: rgba(0,0,0,0.7);
$med-gray: rgba(50,50,50,1);
$light-gray: rgba(0,0,0,0.4);

$blue-med:  #337ab7;
$blue-dark: rgba(46,109,164,0.3);






// TYPOGRAPHY //////////////////////////////////////////////////////////////
$heading-font-family: 'Orbitron', Arial, serif;
$base-font-family: 'Open Sans Condensed', Arial, serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.instagram-username {
  font-family: $heading-font-family;
  font-size: 1.1em;
  font-weight: 800;
  margin: 10px 10px 0 10px;
}

.instagram-post {
  font-family: $base-font-family;
  font-size: 1.3em;
  font-weight: 300;
  margin: 10px 20px 10px 30px;
  text-align: left;
}

.instagram-likes {
  color: $light-gray;
  font-family: $base-font-family;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
  margin: 0 20px 20px 20px;
}

.popup-decor{
  color: $primary-color;
  color-background: black;
  font-family: $base-font-family;
  font-style: italic;
  font-weight: 300;
  margin: none;
}






// BUTTONS ///////////////////////////////////////////////////////////////////

.btn-collapse {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  .glyphicon {
    color: white;
  }
}

.btn-purple {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: $base-font-family;
  color: white;
  font-size: 1.2em;
  background: none;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  // display: inline;
}

.btn-purple:hover {
  background: $primary-color-transparent;
  text-decoration: none;
}

#location-btn {
  color: white;
  padding-top: 0px;
  margin-right: 40px;
}

#location-btn a {
  padding-left: 15px;
  color: white;
}

#location-btn a:hover {
  color: $primary-color;
  text-decoration: none;
}

#location-btn a {
  text-decoration: none;
}

.btn-collapse:focus, .btn-collapse:active {
  outline: none !important;
}

.btn-collapse:hover {
  box-shadow: 0px 0px 15px $primary-color;
}

// NAVBAR ///////////////////////////////////////////////////////////////////

.navbar {
  border: none;
  border-radius: 0px;
  // margin: 0 0 0 0;

  .navbar-brand {
    width: 224px;
    height: 50px;
    padding: 0px 10px 0px 20px;
  }

  .navbar-form {
    margin: 0 0 0 0;

    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;
    }
  }

  .navbar-collapse {
    // margin: 15px 0 0 0;
    padding: 8px 0 0 0;
  }

  // .nav {
  //
  //   }
    .dropdown-menu {
      margin-top: 5px;
    }

  li {
    a {
      padding: 6px 15px 6px 15px;
    }

    h2 {
      color: white;
      font-size: 1.0em;
      margin: 12px 30px 10px 5px;
    }

    .img-circle {
      // border-radius: 50%;
      max-height: 37px;
      border: none;
    }

    .img-thumbnail {
      background-color: black;
    }
  }

}

.slogan{
  margin-top: none;
  padding-top: none;
  margin-left: 80px;
  color: white;
}

.navbar-nav .open .dropdown-menu {
    // position: static;
    // float: none;
    // width: auto;
    margin: 0 10% 0 10%;
    // background-color: transparent;
    // border: 0;
    // box-shadow: none;
  }



// MAP INDEX PAGE /////////////////////////////////////////////////
.instagram-index {
  position: absolute;
  margin-top: -20px;
  max-height: calc(100% - 50px);
}

.instagram-thumb {
  width: 90%;
}

.instagram-data {
  text-align: center;
}

.row-one-higlight {
  border-left: 17px solid $primary-color;

  td {
    display: block;
    margin-right: 30px;
  }
}

.row-highlight {
  border-left: 30px solid $primary-color;

  td {
    display: block;
    margin-right: 30px;
  }
}

.display-text {
  padding: 20px;
}




// RESPONSIVE-DESKTOP ///////////////////////////////////////////////
@media (min-width: 711px) {

  div#map{
    position: absolute;
    top: 54px;
    bottom: 0px;
    width: 75%;
    margin-left: 25%
  }

  .instagram-index {
    margin-right: 75%;
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }

}



// RESPONSIVE-PHONE //////////////////////////////////////////////////
@media (max-width: 710px) {

  div#map{
    display: none;
  }

  .instagram-index {
    margin-left: 0%;
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }

  .slogan{
    margin-top: none;
    padding-top: none;
    margin-left: 0;
    color: white;
  }

  .navbar-collapse {
    padding: 8px 0 0 0;
  }

  #location-btn {
    color: white;
    padding-top: 0px;
    margin-right: 0px;
  }
}
