@import "bootstrap-sprockets";
@import "bootstrap";


// GLOBAL ////////////////////////////////////////////////////////////////////

html,
body {
  height: 100%;
  // background-color: #333;
}
body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

// GLOBAL ////////////////////////////////////////////////////////////////////






// COLORS ///////////////////////////////////////////////////////////////////
$white: rgba(255,255,255,1);
$white-trans: rgba(255,255,255,0.5);

$black: rgba(0,0,0,1);
$dark-gray: rgba(0,0,0,0.7);
$med-gray: rgba(50,50,50,1);
$light-gray: rgba(0,0,0,0.4);

$blue-med:  #337ab7;
$blue-dark: rgba(46,109,164,0.3);


$primary-color:   rgba(215,43,245,1.0);   // hot-purple
$secondary-color: rgba(255,255,255,1.0);  // white


// COLORS ///////////////////////////////////////////////////////////////////







// TYPOGRAPHY //////////////////////////////////////////////////////////////

$heading-font-family: 'Coda', Arial, serif;
$base-font-family: 'Open Sans Condensed', Arial, serif;




// NAVBAR ///////////////////////////////////////////////////////////////////
.navbar {
  margin: 0 0 0 0;
}

.navbar-fixed-bottom {
  min-height: 10px;
  background-color: $primary-color;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $secondary-color;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color: $primary-color;*/
  color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: $secondary-color;
}

.navbar-inverse .navbar-brand {
  color: $secondary-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: $secondary-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: $secondary-color;
}

.dropdown-menu  {
  background-color: $primary-color;
}

.img-thumbnail {
  max-width: 60px;
  margin-top: 5px;
  }

.navbar-inverse .navbar-toggle  {
  border-color: $white;
  // background-color: $white-trans;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: $white-trans;
}

.navbar-inverse .navbar-toggle:focus  {
  background-color: $white-trans;
}
// NAVBAR ///////////////////////////////////////////////////////////////////






 // Footer////////////////////////////////////////////////////////////////////

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $blue-med;
}
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 15px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/

/*Footer/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
