// GLOBAL ////////////////////////////////////////////////////////////////////

html,
body {
  height: 100%;
  // background-color: #333;
}
body {
  text-align: center;
}

// COLORS ///////////////////////////////////////////////////////////////////

$white: rgba(255,255,255,1);
$white-trans: rgba(255,255,255,0.5);

$black: rgba(0,0,0,1);
$dark-gray: rgba(0,0,0,0.7);
$med-gray: rgba(50,50,50,1);
$light-gray: rgba(0,0,0,0.4);

$blue-med:  #337ab7;
$blue-dark: rgba(46,109,164,0.3);


$primary-color:   rgba(215,43,245,1.0);   // hot-purple
$secondary-color: rgba(255,255,255,1.0);  // white

// TYPOGRAPHY //////////////////////////////////////////////////////////////

$heading-font-family: 'Coda', Arial, serif;
$base-font-family: 'Open Sans Condensed', Arial, serif;


// BUTTONS ///////////////////////////////////////////////////////////////////


// NAVBAR ///////////////////////////////////////////////////////////////////
.navbar {
  margin: 0 0 0 0;
  height: 20px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $secondary-color;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color: $primary-color;*/
  color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: $secondary-color;
}

.navbar-inverse .navbar-brand {
  color: $secondary-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: $secondary-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: $secondary-color;
}

.dropdown-menu  {
  background-color: $primary-color;
}

.img-thumbnail {
  max-width: 60px;
  margin-top: 5px;
  }

.navbar-inverse .navbar-toggle  {
  border-color: $white;
  // background-color: $white-trans;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: $white-trans;
}

.navbar-inverse .navbar-toggle:focus  {
  background-color: $white-trans;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 15px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/

// MAP INDEX PAGE /////////////////////////////////////////////////

.instagram-index {
  position: absolute;
  margin-top: -20px;
  max-height: calc(100% - 50px);  
}

.instagram-thumb {
  text-align: left;
  width: 150px;
  margin-left: 20px;
}

.instagram-data {
  text-align: center;
}

.row-one-higlight {
  border-left: 17px solid rgba(215,43,245,1);
}

.row-highlight {
  border-left: 30px solid rgba(215,43,245,1);
}

.display-text {
  padding: 20px;
}

/* responsive formatting */

@media (min-width: 768px) {

  div#map{
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 65%;
    margin-left: 35%
  }

  .instagram-index {
    margin-right: 65%;
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }

}

@media (max-width: 767px) {
  
  div#map{
    display: none;
  }

  .instagram-index {
    margin-left: 0%;
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
}

