.instagram-thumb {
  text-align: left;
  width: 150px;
  margin-left: 20px;
}

.instagram-data {
  text-align: center;
}

.glow {
  border-left: 30px solid rgba(215,43,245,1);
}

.display-text {
  padding: 20px;
}

/* responsive formatting */

@media (min-width: 768px) {

  div#map{
    position: absolute;
    top: 51px;
    bottom: 0px;
    width: 65%;
    margin-left: 35%
  }

  .instagram-index {
    margin-right: 65%;
    max-height: calc(100%);  
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }

}

@media (max-width: 767px) {
  
  div#map{
    display: none;
  }

  .instagram-index {
    margin-left: 0%;
    max-height: calc(100%);  
    overflow: auto;
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
}

