<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/links' %>
  </head>

  <body>

    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/notices' %>

    <%= yield %>

  </body>


</html>
